In [1]:
import time
import pandas as pd
import numpy as np
import multiprocessing as mp
import datetime as dt
from sklearn import preprocessing
import warnings
warnings.filterwarnings('ignore')

import logging
logger = logging.getLogger()
fhandler = logging.FileHandler(filename='f28101551_log.log', mode='a')
formatter = logging.Formatter('%(asctime)s - %(name)s - %(levelname)s - %(message)s')
fhandler.setFormatter(formatter)
logger.addHandler(fhandler)
logger.setLevel(logging.DEBUG)

In [2]:
from fencoding import (save_to_csv,
                       reduce_mem_usage,
                       EmptyElim,
                       FEncoding,
                       OutlDetect,
                       FImputation
                       )

In [3]:
from pathlib import Path
# home-credit-default-risk tables
if not Path("/content/application_test.csv").is_file():
  ! wget https://www.dropbox.com/s/j9xwcj9ixki5t2l/home-credit-default-risk.zip?dl=0 -O data.zip
  ! unzip -q data.zip
# default-of-credit-card-clients-dataset
if not Path("/content/default_ucr.csv").is_file():
  ! wget https://www.dropbox.com/s/lj0d7qez18ea7dx/UCI_Credit_Card.csv?dl=0 -O default_ucr.csv

In [4]:
# Read in the source datasets
dict = {
    'datasets':[
                # home-credit-default-risk tables
                pd.read_csv('/content/application_train.csv'),
                pd.read_csv('/content/application_test.csv'),
                pd.read_csv('/content/bureau.csv'),
                pd.read_csv('/content/bureau_balance.csv'),
                pd.read_csv('/content/POS_CASH_balance.csv'),
                pd.read_csv('/content/credit_card_balance.csv'),
                pd.read_csv('/content/previous_application.csv'),
                pd.read_csv('/content/installments_payments.csv'),

                # default-of-credit-card-clients-datasets
                pd.read_csv('/content/default_ucr.csv'),
    ],

    'name_dropped_columns':
                [
                 # home-credit-default-risk tables
                 ['SK_ID_CURR', 'TARGET'],
                 ['SK_ID_CURR'],
                 ['SK_ID_CURR',	'SK_ID_BUREAU'],
                 ['SK_ID_BUREAU'],
                 ['SK_ID_PREV',	'SK_ID_CURR'],
                 ['SK_ID_PREV',	'SK_ID_CURR'],
                 ['SK_ID_PREV',	'SK_ID_CURR'],
                 ['SK_ID_PREV',	'SK_ID_CURR'],

                 # default-of-credit-card-clients-datasets
                 ['ID', 'default.payment.next.month']              
    ],   
}

# Keep ID and target columns separately
dict['dropped_columns'] = [dict['datasets'][i][dict['name_dropped_columns'][i]] for i in range(len(dict['datasets']))]

# Drop ID and target columns from the tables
dict['datasets'] = [dict['datasets'][i].drop(dict['name_dropped_columns'][i], axis=1) for i in range(len(dict['datasets']))]

In [5]:
emptyelim = EmptyElim(n_jobs=-1, chunks = None)
fencoding = FEncoding(n_jobs = 1, chunks = None)
outldetect = OutlDetect(
    outliers_detection_technique = 'iqr_proximity_rule', 
    #outliers_detection_technique = 'gaussian_approximation', 
    #outliers_detection_technique = 'quantiles',
    n_jobs = None, chunks = None)
fimputation = FImputation(
    model_type =  'tree-based', 
    fill_with_value = 'extreme_values',
    #fill_with_value = 'zeros',
    # or
    #model_type =  'regression-based',
    #fill_with_value = None,
    n_jobs = None, chunks = None)

In [ ]:
for N_D in range(len(dict['datasets'])):
    X, X_rest = dict['datasets'][N_D], dict['dropped_columns'][N_D]
    print('\n Number of dataset: {} ...'.format(N_D))
    display(X.head())
    X = reduce_mem_usage(X)
    #emptyelim.fit(X)
    #X = emptyelim.transform(X)
    X = emptyelim.fit_transform(X)
    f_dict = fencoding.initialize_types(X)
    print('\n f_dict:', f_dict)
    X = fencoding.date_replace(X)
    X = fencoding.encode_categor(X, method = 'OrdinalEncoder')
    #X = fencoding.encode_categor(X, method = 'OneHotEncoder')
    X = fencoding.bucket_numerical(X, n_bins=5, columns_to_buck = 'all_numerical', 
                                drop_current = True)
    X = fencoding.encode_time(X, drop_current = True)
    #outldetect.fit(X)
    #outldetect.transform(X)
    X = outldetect.fit_transform(X)
    X = fimputation.impute(X)

    X = reduce_mem_usage(X)
    save_to_csv(X, rest_columns=X_rest, path=None)
    display(X.head())

 Number of dataset: 0 ...

  NAME_CONTRACT_TYPE  ... AMT_REQ_CREDIT_BUREAU_YEAR
0         Cash loans  ...                        1.0
1         Cash loans  ...                        0.0
2    Revolving loans  ...                        0.0
3         Cash loans  ...                        NaN
4         Cash loans  ...                        0.0

[5 rows x 120 columns]

Memory usage of dataframe is 281.53 MB
Memory usage after optimization is: 90.91 MB
Memory usage decreased by 67.7%

 columns to drop: {}

 f_dict: {'categor_columns': ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'DAYS_EMPLOYED', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21'], 'numer_columns': ['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE'], 'time_columns': []}

 No time columns in the dataset

 No time columns in the dataset

 col_outl_info (upper, lower) bounds: {'AMT_ANNUITY': (-10584.0, 61704.0), 'AMT_GOODS_PRICE': (-423000.0, 1341000.0)}

Memory usage of dataframe is 131.38 MB
Memory usage after optimization is: 18.18 MB
Memory usage decreased by 86.2%

 Successfully saved to trial_10282020-12:55.csv

   AMT_ANNUITY  AMT_GOODS_PRICE  ...  AMT_INCOME_TOTAL_bucketed  AMT_CREDIT_bucketed
0      24704.0         351000.0  ...                          3                    1
1      35712.0        1129500.0  ...                          3                    3
2       6752.0         135000.0  ...                          0                    0
3      29680.0         297000.0  ...                          1                    1
4      21872.0         513000.0  ...                          1                    1

[5 rows x 57 columns]

 Number of dataset: 1 ...

  NAME_CONTRACT_TYPE  ... AMT_REQ_CREDIT_BUREAU_YEAR
0         Cash loans  ...                        0.0
1         Cash loans  ...                        3.0
2         Cash loans  ...                        4.0
3         Cash loans  ...                        3.0
4         Cash loans  ...                        NaN

[5 rows x 120 columns]

Memory usage of dataframe is 44.63 MB
Memory usage after optimization is: 14.41 MB
Memory usage decreased by 67.7%

 columns to drop: {'FLAG_DOCUMENT_2': [0], 'FLAG_DOCUMENT_10': [0], 'FLAG_DOCUMENT_12': [0], 'FLAG_DOCUMENT_13': [0], 'FLAG_DOCUMENT_14': [0], 'FLAG_DOCUMENT_15': [0], 'FLAG_DOCUMENT_16': [0], 'FLAG_DOCUMENT_17': [0], 'FLAG_DOCUMENT_19': [0], 'FLAG_DOCUMENT_20': [0], 'FLAG_DOCUMENT_21': [0]}

 f_dict: {'categor_columns': ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'DAYS_EMPLOYED', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_18'], 'numer_columns': ['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE'], 'time_columns': []}

 No time columns in the dataset

 No time columns in the dataset

 col_outl_info (upper, lower) bounds: {'AMT_ANNUITY': (-11153.25, 66516.75)}

Memory usage of dataframe is 16.92 MB
Memory usage after optimization is: 2.32 MB
Memory usage decreased by 86.3%

 Successfully saved to trial_10282020-12:55.csv

   AMT_ANNUITY  ...  AMT_GOODS_PRICE_bucketed
0     20560.50  ...                         2
1     17370.00  ...                         0
2     66516.75  ...                         3
3     49018.50  ...                         3
4     32067.00  ...                         2

[5 rows x 46 columns]

 Number of dataset: 2 ...

  CREDIT_ACTIVE CREDIT_CURRENCY  ...  DAYS_CREDIT_UPDATE  AMT_ANNUITY
0        Closed      currency 1  ...                -131          NaN
1        Active      currency 1  ...                 -20          NaN
2        Active      currency 1  ...                 -16          NaN
3        Active      currency 1  ...                 -16          NaN
4        Active      currency 1  ...                 -21          NaN

[5 rows x 15 columns]

Memory usage of dataframe is 196.43 MB
Memory usage after optimization is: 99.85 MB
Memory usage decreased by 49.2%

 columns to drop: {}

 f_dict: {'categor_columns': ['CREDIT_ACTIVE', 'CREDIT_CURRENCY', 'CNT_CREDIT_PROLONG', 'CREDIT_TYPE', 'DAYS_CREDIT_UPDATE'], 'numer_columns': ['AMT_CREDIT_MAX_OVERDUE', 'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT', 'AMT_CREDIT_SUM_OVERDUE', 'AMT_ANNUITY'], 'time_columns': []}

 No time columns in the dataset

 No time columns in the dataset

 col_outl_info (upper, lower) bounds: {'AMT_CREDIT_MAX_OVERDUE': (0.0, 0.0), 'AMT_CREDIT_SUM': (-344250.0, 710550.0), 'AMT_CREDIT_SUM_DEBT': (-60230.25, 100383.75), 'AMT_CREDIT_SUM_LIMIT': (0.0, 0.0), 'AMT_ANNUITY': (-20250.0, 33750.0)}

Memory usage of dataframe is 124.41 MB
Memory usage after optimization is: 34.38 MB
Memory usage decreased by 72.4%

 Successfully saved to trial_10282020-12:56.csv

   AMT_CREDIT_SUM  ...  AMT_CREDIT_SUM_LIMIT
0         91323.0  ...                   0.0
1        225000.0  ...                   0.0
2        464323.5  ...                   0.0
3         90000.0  ...                   0.0
4        710550.0  ...                   0.0

[5 rows x 11 columns]

 Number of dataset: 3 ...

   MONTHS_BALANCE STATUS
0               0      C
1              -1      C
2              -2      C
3              -3      C
4              -4      C

Memory usage of dataframe is 416.56 MB
Memory usage after optimization is: 234.32 MB
Memory usage decreased by 43.7%

 columns to drop: {}

 f_dict: {'categor_columns': ['MONTHS_BALANCE', 'STATUS'], 'numer_columns': [], 'time_columns': []}

 No time columns in the dataset

 No numerical columns in the dataset

 No time columns in the dataset

 No numerical columns in the dataset

 No numerical columns in the dataset