In [1]:
import os, copy, time
from pathlib import Path

import pandas as pd
import numpy as np

#https://scikit-learn.org/stable/modules/preprocessing.html
from sklearn import preprocessing
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.impute import SimpleImputer

# We will use multiprocessing for simple additive processes. Further, we will expend for other cases.
# Sources: 
#https://medium.com/@vasista/parallel-processing-with-pandas-c76f88963005
#https://towardsdatascience.com/speeding-up-and-perfecting-your-work-using-parallel-computing-8bc2f0c073f8
import multiprocessing as mp
from multiprocessing import Pool
from functools import partial

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt

# home-credit-default-risk tables
if not Path("./application_test.csv").is_file():
  ! wget https://www.dropbox.com/s/j9xwcj9ixki5t2l/home-credit-default-risk.zip?dl=0 -O data.zip
  ! unzip -q data.zip

# default-of-credit-card-clients-dataset
if not Path("./default_ucr.csv").is_file():
  ! wget https://www.dropbox.com/s/lj0d7qez18ea7dx/UCI_Credit_Card.csv?dl=0 -O default_ucr.csv

--2020-10-21 14:27:34--  https://www.dropbox.com/s/j9xwcj9ixki5t2l/home-credit-default-risk.zip?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.9.1, 2620:100:601d:1::a27d:501
Connecting to www.dropbox.com (www.dropbox.com)|162.125.9.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/j9xwcj9ixki5t2l/home-credit-default-risk.zip [following]
--2020-10-21 14:27:35--  https://www.dropbox.com/s/raw/j9xwcj9ixki5t2l/home-credit-default-risk.zip
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc9c9f228621c3bf3c9f60251aba.dl.dropboxusercontent.com/cd/0/inline/BBuFcinIbJ1rgxrt1Evoet2To_YFhK4QU4M9WvPT3uXXma67Gpjnq3SgSTpHD-NNDyi2VMNfW0aiHXI9omHwHCaeYHHZO_DN66DLg99FMuxyQDG3-uGlWFSdNyc7afEIjt4/file# [following]
--2020-10-21 14:27:35--  https://uc9c9f228621c3bf3c9f60251aba.dl.dropboxusercontent.com/cd/0/inline/BBuFcinIbJ1rgxrt1Evoet2To_YFhK4QU4M9WvPT3uXXma67Gpjnq3SgSTpHD-NNDyi2VMNfW0aiHXI9omHwHCaeYHHZO_DN66DLg99FMuxyQDG3-uGlWFSdNyc7afEIjt4/file
Resolving uc9c9f228621c3bf3c9f60251aba.dl.dropboxusercontent.com (uc9c9f228621c3bf3c9f60251aba.dl.dropboxusercontent.com)... 162.125.5.15, 2620:100:601f:15::a27d:90f
Connecting to uc9c9f228621c3bf3c9f60251aba.dl.dropboxusercontent.com (uc9c9f228621c3bf3c9f60251aba.dl.dropboxusercontent.com)|162.125.5.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/BBtO1Afgznzn2qHjgDW_eQEtxOg0Ijyu5vwSUMgztDOE_q7O7FrnxB6OG1Y-ZeC8LC0KmcpLc9N4iO8atjhXOAN-CctqMyrjsRHR6niPcx88HMeTlOfseZvud_sImxH6RjG56JyKoEPMJ9jUVyBa2MhkkkSxRxFxlN7IpM24WNzrAzAg7EbiK9ZbMeNGJ3Ho0CnhRAR0J8Yv_fazUhbfbF2wOmXGX9MnnyJRK-92OIul5CdmTaLiS663gtdleYwRHiiFoItnO6TM-twGemF5Xgw1BbHXxJJlMmQIPAJbNp2roXX8Vjoc65tp8q6v3JbFSEdbiqug3F0AAZkE-PbtaznpeVrUyOv2BR7oh6whS93GBw/file [following]
--2020-10-21 14:27:36--  https://uc9c9f228621c3bf3c9f60251aba.dl.dropboxusercontent.com/cd/0/inline2/BBtO1Afgznzn2qHjgDW_eQEtxOg0Ijyu5vwSUMgztDOE_q7O7FrnxB6OG1Y-ZeC8LC0KmcpLc9N4iO8atjhXOAN-CctqMyrjsRHR6niPcx88HMeTlOfseZvud_sImxH6RjG56JyKoEPMJ9jUVyBa2MhkkkSxRxFxlN7IpM24WNzrAzAg7EbiK9ZbMeNGJ3Ho0CnhRAR0J8Yv_fazUhbfbF2wOmXGX9MnnyJRK-92OIul5CdmTaLiS663gtdleYwRHiiFoItnO6TM-twGemF5Xgw1BbHXxJJlMmQIPAJbNp2roXX8Vjoc65tp8q6v3JbFSEdbiqug3F0AAZkE-PbtaznpeVrUyOv2BR7oh6whS93GBw/file
Reusing existing connection to uc9c9f228621c3bf3c9f60251aba.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 721616255 (688M) [application/zip]
Saving to: ‘data.zip’

data.zip            100%[===================>] 688.19M  61.0MB/s    in 14s

2020-10-21 14:27:51 (47.9 MB/s) - ‘data.zip’ saved [721616255/721616255]

--2020-10-21 14:28:18--  https://www.dropbox.com/s/lj0d7qez18ea7dx/UCI_Credit_Card.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.5.1, 2620:100:601d:1::a27d:501
Connecting to www.dropbox.com (www.dropbox.com)|162.125.5.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/lj0d7qez18ea7dx/UCI_Credit_Card.csv [following]
--2020-10-21 14:28:19--  https://www.dropbox.com/s/raw/lj0d7qez18ea7dx/UCI_Credit_Card.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uce93e61e57f579fc394697e4796.dl.dropboxusercontent.com/cd/0/inline/BBtLuNz5nGyqReYsJ0UWAoB7jdWHg7D4teR7DkMgNmioG_GVkAx4a6byOOSlwVpJ8o2YALKG3XPRxXOPBjyzzDyWCKLAJ9yGYsmefoiN7cS9xw5spjMvR-NcXreeBr439-c/file# [following]
--2020-10-21 14:28:19--  https://uce93e61e57f579fc394697e4796.dl.dropboxusercontent.com/cd/0/inline/BBtLuNz5nGyqReYsJ0UWAoB7jdWHg7D4teR7DkMgNmioG_GVkAx4a6byOOSlwVpJ8o2YALKG3XPRxXOPBjyzzDyWCKLAJ9yGYsmefoiN7cS9xw5spjMvR-NcXreeBr439-c/file
Resolving uce93e61e57f579fc394697e4796.dl.dropboxusercontent.com (uce93e61e57f579fc394697e4796.dl.dropboxusercontent.com)... 162.125.9.15, 2620:100:601f:15::a27d:90f
Connecting to uce93e61e57f579fc394697e4796.dl.dropboxusercontent.com (uce93e61e57f579fc394697e4796.dl.dropboxusercontent.com)|162.125.9.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2862995 (2.7M) [text/plain]
Saving to: ‘default_ucr.csv’

default_ucr.csv     100%[===================>]   2.73M  --.-KB/s    in 0.1s

2020-10-21 14:28:20 (20.9 MB/s) - ‘default_ucr.csv’ saved [2862995/2862995]

In [2]:
from preprocessing import (FCleaning, 
                           FEncoding,
                           FImputation
)

In [3]:
from fcleaning import (EmptyElim,
                       OutlDetect,                       
)

In [4]:
from fencoding import (Dtimetodata,
    
)

In [5]:
# Read in the source datasets
dict = {
    'datasets':[
                # home-credit-default-risk tables
                pd.read_csv('./application_train.csv'),
                pd.read_csv('./application_test.csv'),
                pd.read_csv('./bureau.csv'),
                pd.read_csv('./bureau_balance.csv'),
                pd.read_csv('./POS_CASH_balance.csv'),
                pd.read_csv('./credit_card_balance.csv'),
                # pd.read_csv('./previous_application.csv'),
                # pd.read_csv('./installments_payments.csv'),

                # default-of-credit-card-clients-datasets
                # pd.read_csv('./default_ucr.csv'),
    ],

    'name_dropped_columns':
                [
                 # home-credit-default-risk tables
                 ['SK_ID_CURR', 'TARGET'],
                 ['SK_ID_CURR'],
                 ['SK_ID_CURR',	'SK_ID_BUREAU'],
                 ['SK_ID_BUREAU'],
                 ['SK_ID_PREV',	'SK_ID_CURR'],
                 ['SK_ID_PREV',	'SK_ID_CURR'],
                 ['SK_ID_PREV',	'SK_ID_CURR'],
                 ['SK_ID_PREV',	'SK_ID_CURR'],

                 # default-of-credit-card-clients-datasets
                 ['ID', 'default.payment.next.month']              
    ],   
}

# Keep ID and target columns separately
dict['dropped_columns'] = [dict['datasets'][i][dict['name_dropped_columns'][i]] for i in range(len(dict['datasets']))]

# Drop ID and target columns from the tables
dict['datasets'] = [dict['datasets'][i].drop(dict['name_dropped_columns'][i], axis=1) for i in range(len(dict['datasets']))]

[np.unique([str(dict['datasets'][i][column].dtype) for column in dict['datasets'][i].columns]) for i in range(len(dict['datasets']))]

[array(['float64', 'int64', 'object'], dtype='<U7'),
 array(['float64', 'int64', 'object'], dtype='<U7'),
 array(['float64', 'int64', 'object'], dtype='<U7'),
 array(['int64', 'object'], dtype='<U6'),
 array(['float64', 'int64', 'object'], dtype='<U7'),
 array(['float64', 'int64', 'object'], dtype='<U7')]

In [ ]:
X = dict['datasets'][0]
fcleaning = FCleaning('iqr_proximity_rule', 
                      n_jobs = 1,
                      chunks = None,
                      #path = './trial1.csv', #None,
                      )
s_time = time.time()
fcleaning.emptyness_elimination(X)
fcleaning.outliers_elimination(X)
print('\n n_jobs = 1, time:', time.time() - s_time)

print('\n CPUs avail:{}'.format(mp.cpu_count()))
fcleaning = FCleaning('iqr_proximity_rule', 
                      n_jobs = 2,
                      chunks = None,
                      #path = './trial1.csv', #None,
                      )
s_time = time.time()
fcleaning.emptyness_elimination(X)
fcleaning.outliers_elimination(X)
print('\n n_jobs = 2, time:', time.time() - s_time)

 n_jobs = 1, time: 6.621775150299072

 CPUs avail:2


 n_jobs = 2, time: 6.631769895553589

In [ ]:
X = dict['datasets'][2]
fencoding = FEncoding(n_jobs = 1, 
                      chunks = None, 
                      path = None,)
s_time = time.time()
fencoding.dtime_to_data(X, 
                        dtime_col_names = {'ddays' : ['DAYS_CREDIT', 'DAYS_CREDIT_ENDDATE', 'DAYS_ENDDATE_FACT', 'DAYS_CREDIT_UPDATE'],
                                           'dmonths' : [],
                                           'dyears' : []
                                           },               
                        time_encode = True, 
                        drop_current = True
                     )
f_dict = fencoding.pick_categor(X)
print('\n f_dict:', f_dict)
fencoding.bucket_numerical(X, 
                         n_bins=5, 
                         columns_to_buck = 'all_numerical', 
                         drop_current = True)

fencoding.encode_categor(X, method = 'OrdinalEncoder')
print('\n n_jobs = 1, time:', time.time() - s_time)

fencoding = FEncoding(n_jobs = 2, 
                      chunks = None, 
                      path = None,)
s_time = time.time()
fencoding.dtime_to_data(X, 
                        dtime_col_names = {   'ddays' : ['DAYS_CREDIT', 'DAYS_CREDIT_ENDDATE', 'DAYS_ENDDATE_FACT', 'DAYS_CREDIT_UPDATE'],
                                              'dmonths' : [],
                                              'dyears' : []
                                           },               
                        time_encode = True, 
                        drop_current = True
                     )
f_dict = fencoding.pick_categor(X)
print('\n f_dict:', f_dict)
fencoding.bucket_numerical(X, 
                         n_bins=5, 
                         columns_to_buck = 'all_numerical', 
                         drop_current = True)

fencoding.encode_categor(X, method = 'OrdinalEncoder')
print('\n n_jobs = 1, time:', time.time() - s_time)

 DAYS_CREDIT processed ...

 DAYS_CREDIT_ENDDATE processed ...

 DAYS_ENDDATE_FACT processed ...

 DAYS_CREDIT_UPDATE processed ...

 DAYS_CREDIT_date was encoded

 DAYS_CREDIT_ENDDATE_date was encoded

 DAYS_ENDDATE_FACT_date was encoded

 DAYS_CREDIT_UPDATE_date was encoded

 f_dict: {'categor_columns': ['CREDIT_ACTIVE', 'CREDIT_CURRENCY', 'DAYS_CREDIT', 'CREDIT_DAY_OVERDUE', 'CNT_CREDIT_PROLONG', 'CREDIT_TYPE', 'DAYS_CREDIT_UPDATE'], 'numer_columns': ['DAYS_CREDIT_ENDDATE', 'DAYS_ENDDATE_FACT', 'AMT_CREDIT_MAX_OVERDUE', 'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT', 'AMT_CREDIT_SUM_OVERDUE', 'AMT_ANNUITY'], 'time_columns': []}

 DAYS_CREDIT_ENDDATE bucketing ...

 DAYS_ENDDATE_FACT bucketing ...

 AMT_CREDIT_MAX_OVERDUE bucketing ...

 AMT_CREDIT_SUM bucketing ...

 AMT_CREDIT_SUM_DEBT bucketing ...

 AMT_CREDIT_SUM_LIMIT bucketing ...

 AMT_CREDIT_SUM_OVERDUE bucketing ...

 AMT_ANNUITY bucketing ...

 n_jobs = 1, time: 18.792246341705322

 DAYS_CREDIT processed ...

 DAYS_CREDIT_UPDATE processed ...

 DAYS_CREDIT_ENDDATE processed ...

 DAYS_ENDDATE_FACT processed ...

 DAYS_CREDIT_UPDATE_date was encoded

 DAYS_CREDIT_date was encoded

 DAYS_CREDIT_ENDDATE_date was encoded

 DAYS_ENDDATE_FACT_date was encoded

 f_dict: {'categor_columns': ['CREDIT_ACTIVE', 'CREDIT_CURRENCY', 'DAYS_CREDIT', 'CREDIT_DAY_OVERDUE', 'CNT_CREDIT_PROLONG', 'CREDIT_TYPE', 'DAYS_CREDIT_UPDATE'], 'numer_columns': ['DAYS_CREDIT_ENDDATE', 'DAYS_ENDDATE_FACT', 'AMT_CREDIT_MAX_OVERDUE', 'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT', 'AMT_CREDIT_SUM_OVERDUE', 'AMT_ANNUITY'], 'time_columns': []}

 AMT_CREDIT_SUM bucketing ...

 DAYS_CREDIT_ENDDATE bucketing ...

 DAYS_ENDDATE_FACT bucketing ...

 AMT_CREDIT_SUM_DEBT bucketing ...

 AMT_CREDIT_SUM_LIMIT bucketing ...

 AMT_CREDIT_MAX_OVERDUE bucketing ...

 AMT_CREDIT_SUM_OVERDUE bucketing ...

 AMT_ANNUITY bucketing ...

 n_jobs = 1, time: 13.360267877578735

In [ ]:
X = dict['datasets'][2]
X = fencoding.encode_categor(X, method = 'OrdinalEncoder')

fimputation = FImputation('tree-based', 
            fill_with_value = 'extreme_values', 
                    n_jobs = 1,
)
s_time = time.time()
fimputation.impute(X)
print('\n n_jobs = 1, time:', time.time() - s_time)

fimputation = FImputation('tree-based', 
            fill_with_value = 'extreme_values', 
                    n_jobs = 2,
)
s_time = time.time()
fimputation.impute(X)
print('\n n_jobs = 2, time:', time.time() - s_time)

 n_jobs = 1, time: 1.8499367237091064

 n_jobs = 2, time: 1.375610113143921

In [ ]:
X=pd.DataFrame([[1,2, np.nan], [3,4, np.nan], [np.nan, np.nan, 2], [10000, 2, np.nan], [0.1, 3,2], [1,1,2]])
X

         0    1    2
0      1.0  2.0  NaN
1      3.0  4.0  NaN
2      NaN  NaN  2.0
3  10000.0  2.0  NaN
4      0.1  3.0  2.0
5      1.0  1.0  2.0

In [ ]:
emptyelim = EmptyElim(n_jobs = -1,
                      chunks = None,
                      #path = './trial1.csv', #None,
                      )
emptyelim.fit(X)

 col_names: {2: [nan, 2.0]}

In [ ]:
emptyelim.transform(X)

         0    1
0      1.0  2.0
1      3.0  4.0
2      NaN  NaN
3  10000.0  2.0
4      0.1  3.0
5      1.0  1.0

In [ ]:
emptyelim.fit_transform(X)

 col_names: {2: [nan, 2.0]}

         0    1
0      1.0  2.0
1      3.0  4.0
2      NaN  NaN
3  10000.0  2.0
4      0.1  3.0
5      1.0  1.0

In [ ]:
outldetect = OutlDetect(outliers_detection_technique='iqr_proximity_rule', 
                        n_jobs=-1)

In [ ]:
outldetect.fit(X)

 col_outl_info: {0: (-2.0, 6.0), 1: (0.5, 4.5), 2: (2.0, 2.0)}

In [ ]:
outldetect.transform(X)

     0    1    2
0  1.0  2.0  NaN
1  3.0  4.0  NaN
2  NaN  NaN  2.0
3  6.0  2.0  NaN
4  0.1  3.0  2.0
5  1.0  1.0  2.0

In [ ]:
outldetect.fit_transform(X)

 col_outl_info: {0: (-2.0, 6.0), 1: (0.5, 4.5), 2: (2.0, 2.0)}

     0    1    2
0  1.0  2.0  NaN
1  3.0  4.0  NaN
2  NaN  NaN  2.0
3  6.0  2.0  NaN
4  0.1  3.0  2.0
5  1.0  1.0  2.0

In [6]:
X = dict['datasets'][2][['DAYS_CREDIT', 'DAYS_CREDIT_ENDDATE', 'DAYS_ENDDATE_FACT', 'DAYS_CREDIT_UPDATE']]
X

         DAYS_CREDIT  ...  DAYS_CREDIT_UPDATE
0               -497  ...                -131
1               -208  ...                 -20
2               -203  ...                 -16
3               -203  ...                 -16
4               -629  ...                 -21
...              ...  ...                 ...
1716423          -44  ...                 -19
1716424        -2648  ...               -2493
1716425        -1809  ...                -967
1716426        -1878  ...               -1508
1716427         -463  ...                -387

[1716428 rows x 4 columns]

In [7]:
dtimetodata = Dtimetodata(n_jobs=-1, dtime_col_names = {
                                                        'ddays' : ['DAYS_CREDIT', 'DAYS_CREDIT_ENDDATE', 'DAYS_ENDDATE_FACT', 'DAYS_CREDIT_UPDATE'],
                                                        'dmonths' : [],
                                                        'dyears' : []
                                                      },               
                              time_encode = True, 
                              drop_current = True
                              )

In [8]:
dtimetodata.transform(X)

         DAYS_CREDIT_date_year  ...  DAYS_CREDIT_UPDATE_date_day
0                         2018  ...                           23
1                         2019  ...                           12
2                         2019  ...                           16
3                         2019  ...                           16
4                         2018  ...                           11
...                        ...  ...                          ...
1716423                   2019  ...                           13
1716424                   2012  ...                            5
1716425                   2015  ...                            9
1716426                   2014  ...                           15
1716427                   2018  ...                           10

[1716428 rows x 12 columns]